@model DateTime
<div class="row">
    @Html.AccordionBuilder(@<text>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    @Html.DateBoxBuilder("ExeDate", "執行日期", Model)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ButtonBuilder(ButtonType.button, "btnAccount", "結帳")
                    @Html.ButtonBuilder(ButtonType.button, "btnUnAccount", "回帳")
                </div>
            </div>
        </div>
    </text>, "結帳/回帳")
</div>

<script>

    $(function () {
        $('#btnAccount').on('click', function () {
            Exe('@Url.Action("DoAccound")');
        });
        $('#btnUnAccount').on('click', function () {
            Exe('@Url.Action("DoUnAccound")');
        });
    });

    function Exe(rul) {
        $.post(rul, { xExeDate: $('#ExeDate').val() }, onSaved);
    }

    function onSaved(d) {
        alert(d);
    }

</script>
