@model Trading

<div class="container">
    <div class="form-row">
        <div class="col-md-4">
            @Html.TextBoxBuilder(m => m.TransNo, "交易編號")
            @Html.DateBoxBuilder(m => m.TradeDate, "交易日期")
            @Html.TextBoxBuilder(m => m.Buyer, "買家")
        </div>
        <div class="col-md-4">
            @Html.DropDownListBuilder(m => m.CommodityID, Shared.CommodityList(), "商品代碼")
            @Html.NumberBoxBuilder(m => m.TradeQuantity, "數量")
            @Html.NumberBoxBuilder(m => m.TradeAmount, "金額")
        </div>
        <div class="col-md-4">
            @Html.TextBoxBuilder(m => m.ShipperNo, "出貨編號")
            @Html.TextAreaBuilder(m => m.Remark, "備註")
        </div>
    </div>
</div>

<style>
    #Remark {
        resize: vertical;
    }
</style>