@{
    string xTitle = System.Configuration.ConfigurationManager.AppSettings["AppName"];
    var xFunctionList = new Dictionary<string, string>()
    {
        {"CashFlow","結帳/回帳作業"},
        {"Commodity","商品基本資料維護"},
        {"DeliveryType","配送方式維護"},
        {"Home",""},
        {"Nation","國家基本資料維護"},
        {"Order","下單交易維護"},
        {"Purchase","進貨交易維護"},
        {"Receipt","付款交易維護"},
        {"Shipper","出貨交易維護"},
        {"Supplier","供應商基本資料維護"},
        {"Trading","賣出交易維護"},
    };
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@xTitle</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/extjs")
    @Scripts.Render("~/bundles/customizejs")
</head>
<body>
    <div class="container body-content">
        <header class="cat02"></header>
        @Html.Partial("_Navigation")
        <div class="body-content" style="height: auto;">
            <div class="container">
                <h3 style="font-weight:bolder;">@xFunctionList[ViewContext.RouteData.Values["controller"].ToString()]</h3>
                @RenderBody()
            </div>
        </div>
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - @xTitle</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

    <div id="loader" class="loading hidden">
        <div class="box">
            <div class="cat">
                <div class="cat__body"></div>
                <div class="cat__body"></div>
                <div class="cat__tail"></div>
                <div class="cat__head"></div>
            </div>
        </div>
    </div>
</body>
</html>