@model OrderQueryViewModel

<div class="row">
    @using (Ajax.BeginForm(new AjaxOptions()
    {
        Url = Url.Action("Grid"),
        UpdateTargetId = "GridV",
        OnSuccess = "SelectReady"
    }))
    {
        @Html.AccordionBuilder(@<text>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        @Html.DateBoxBuilder(m => m.TradeDate_S, "下單日期(起)")
                    </div>
                    <div class="col-md-2">
                        @Html.DateBoxBuilder(m => m.TradeDate_E, "下單日期(迄)")
                    </div>
                    <div class="col-md-2">
                        @Html.DropDownListBuilder(m => m.CommodityID, Shared.CommodityList(), "商品代碼", true)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.ButtonBuilder(ButtonType.submit, "btnQuery", "查詢")
                    </div>
                </div>
            </div>
        </text>, "查詢")
    }
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ButtonBuilder(ButtonType.button, "btnCreate", "新增")
    </div>
</div>
<div class="row" style="margin-top: 0.5%;">
    <div id="EditV" class="col-md-12"></div>
</div>
<div class="row" style="margin-top: 0.5%;">
    <div id="GridV" class="col-md-12"></div>
</div>

<script>
    var EditV, GridV;

    $(function () {
        EditV = $('#EditV');
        GridV = $('#GridV');

        loadGrid();

        $('#btnCreate').on('click', function () {
            EditV.load('@Url.Action("Create")', CreateReady);
        });
    });

    function loadGrid() {
        //GridV.load('@Url.Action("Grid")', SelectReady);
        claerEdit();
        $('#btnQuery').click();
    }

    function CreateReady() {
        EditV.find('#TransNo, #ReceiptNo, #PurchaseNo').attr('readonly', true);

        eventCancal();
    }

    function SelectReady() {
        $('#list tbody tr').on('click', function () {
            EditV.load('@Url.Action("Edit")', { xTransNo: $(this).find('td:eq(0)').text() }, EditReady);
        });
    }

    function EditReady() {
        EditV.find('#TransNo, #ReceiptNo, #PurchaseNo').attr('readonly', true);

        eventCancal();
        $('#btnDelete').on('click', function () {
            $.post('@Url.Action("Delete")', { xTransNo: EditV.find('#TransNo').val() }, onSaved);
        });
    }

    function onSaved(d) {
        alert(d);
        loadGrid();
        claerEdit();
    }

    function claerEdit() {
        EditV.empty();
    }

    function eventCancal() {
        $('#btnCancel').on('click', claerEdit);
    }

</script>