@model IEnumerable<Order>

<div class="table-responsive">
    <table id="list" class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>下單編號</th>
                <th>下單日期</th>
                <th>商品代碼</th>
                <th>數量</th>
                <th>金額</th>
                <th>付款編號</th>
                <th>進貨編號</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var it in Model)
            {
                string xCommodity = string.Format("{0} - {1}", it.Commodity.Name, it.Commodity.Style);
                <tr class="alert-info">
                    <td>@Html.DisplayFor(m => it.TransNo)</td>
                    <td>@Html.DisplayFor(m => it.TradeDate)</td>
                    <td>@Html.DisplayFor(m => xCommodity)</td>
                    <td>@Html.DisplayFor(m => it.TradeQuantity)</td>
                    <td>@Html.DisplayFor(m => it.TradeAmount)</td>
                    <td>@Html.DisplayFor(m => it.ReceiptNo)</td>
                    <td>@Html.DisplayFor(m => it.PurchaseNo)</td>
                </tr>
            }
        </tbody>
    </table>
</div>